---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>Yo Gustosín</h1>
        <h2>... y a veces spiderman</h2>
        <p>Hola, soy un gato. Mi vida comenzó en una pequeña caja de cartón en un callejón. Fui encontrado por una niña que me llevó a su casa. Ella me llamó "Whiskers".</p>
        <p>
            Crecí en una casa llena de amor y calor. Jugaba con la niña todos los días y me acurrucaba con ella todas las noches. A medida que crecía, también crecía mi curiosidad. Empecé a explorar
            la casa y a veces incluso me aventuraba fuera.
        </p>
        <p>
            A lo largo de los años, he tenido muchas aventuras. He cazado ratones, he trepado árboles y he dormido en los lugares más cómodos. Aunque he tenido mis momentos de miedo y ansiedad,
            siempre he sabido que tengo un hogar donde soy amado.
        </p>
        <p>
            Ahora, soy un gato viejo y sabio. Paso la mayor parte de mi tiempo durmiendo y observando el mundo desde mi ventana favorita. Aunque no soy tan activo como antes, todavía disfruto de la
            compañía de mi familia humana.
        </p>
        <p>Esta es mi historia. Soy un gato, y esta es la vida que he vivido.</p>
    </body>
</html>
