---
import BaseLayout from '../layouts/BaseLayout.astro';
import Avaturn from '../components/Avaturn.astro';
import Greetings from '../components/Greeting';
const pageTitle = '¡Crea tu propio avatar!';
---

<BaseLayout pageTitle={pageTitle}>
    <div class="portada">
        <Avaturn />
    </div>
    <style>
        h1 {
            text-align: center;
        }
        .portada {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 20px;
            height: 100vh;
        }
    </style>
</BaseLayout>
