---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../layouts/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
console.log(allPosts)
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>Aquí publicaré sobre mi vida gatuna.</p>
    {allPosts.map((post) => <BlogPost urlPost={post.url} postTitle={post.frontmatter.title} />)}
</BaseLayout>
