---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>Aquí publicaré sobre mi vida gatuna.</p>
    <ul>
        <li><a href="/posts/post-1/">Mi primera publicación</a></li>
        <li><a href="/posts/post-2/">Dia 1: El Viaje</a></li>
        <li><a href="/posts/post-3/">Dia 2: Por fín he hecho caca!!</a></li>
    </ul>
</BaseLayout>
