---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'El Blog de Gustosín';
---

<BaseLayout>
        <h1>{pageTitle}</h1>
        <div class="portada">
            <img width="400px" height="auto" src="/gustosin.svg" alt="Gustosín">
        </div>
        <style>
            h1 {
                text-align: center;
            }
            .portada {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }
        </style>
</BaseLayout>
