---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/avatar/">🆕 ¡Crea tu propio avatar!</a>
</div>
<script>
    import '../scripts/menu.js';
</script>