---
const {urlPost, postTitle} = Astro.props
---

    <li>💌 <a title={`Enlace a ${postTitle}`} href={urlPost}>{postTitle}</a></li>
    <style>
        li {
            margin-bottom: 10px;
        } 
    </style>